<!DOCTYPE html>
<html>
	<head>
		<title>Application Form</title>
		<link rel='stylesheet' href='/static/styles.css'>
	</head>
	<body>
		<h1>Ubermelon Application Form</h1>
		<div class='instruction'>
			<p>Thank you for your interest in working with us here at the best place on the web for melons! 
			Please enter the following information and we will follow up with you soon!</p>
		</div>
		<br><br>
		<form action='/application' method='POST' id='application_form'>
			<label id='first-name'>
				First name: <input type='text' name='firstname'>
			</label>
			<label id='last-name'>
				Last name: <input type='text' name='lastname' id='lastnamebold'>
			</label>
			<br>
			<label id='salary-requirements'>
				Salary Requirements: <input type='number' name='salaryreq'>
			</label>
			<br>
			<label id='job-title'>
				<select name='jobtitle'>
					<option value='Software Engineer'>Software Engineer</option>
					<option value='QA Engineer'>QA Engineer</option>
					<option value='Product Manager'>Product Manager</option>
				</select>
			</label>
			<br>
			<label id='submit'>
				<input type='submit'>
			</label>
		</form>
	</body>
</html>
